<div class="project-grid">
  {% for project in collections.projects %}
    <div class="project-card">
      <a href="{{ project.link }}">
        {% if project.gif contains '/' %}
          <img src="/assets/{{ project.gif }}" alt="{{ project.title }}">
        {% else %}
          <img src="/assets/{{ project.category | specialImages }}/{{ project.gif }}" alt="{{ project.title }}">
        {% endif %}
      </a>
      <div class="project-title">{{ project.title }}</div>
    </div>
  {% endfor %}
</div>