---
pagination:
  data: collections.projects
  size: 1
  alias: project
permalink: false
eleventyExcludeFromCollections: true
---

<h1>{{ project.title }}</h1>
<img src="/assets/{{ project.gif }}" alt="{{ project.title }}">
<p><a href="{{ project.youtube }}">YouTube Demo</a></p>

<div class="gallery">
  {% for image in project.images %}
    <img src="/assets/{{ image }}" alt="">
  {% endfor %}
</div>
